<div class="container">
  <div id="title-bar" class="row">
    <%= render :partial => 'modules/global_navigation' %>
    <!--
    <div id="site-search" class="col-md-10">
      &nbsp;
    </div>
    <nav id="site-actions" class="col-md-2" role="menu">
      &nbsp;
    </nav>
    -->
  </div>
</div>
